body {
    margin: 0;
    padding: 0;
    background-image: url("../img/space.jpg");
    background-size:cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    width: 100vw;
    position: relative;
}

img {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;

}