body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 10%;
    gap: 4rem;
}

.btn-style {
    background-color: white;
    display: block;
    align-self: flex-start;
    padding: 1rem;
    cursor: pointer;
}

.square-style {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.square3 {
    transition: margin-left 1s;
}