body {
    margin: 0;
    padding: 10%;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid black;
  padding: 8px 10px;
}